nav {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap : 30px;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap : 30px;
}


.nav-content > li {
    list-style: none;
}
.nav-content > li > a {
    text-decoration: none;
    font-size: 19px;
    color : black;
    cursor: pointer;
}